
{% extends "templates/web.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col border-right border-dark">
            <div>
                <h4 class="aler alert-info text-center p-5 shadow-lg bg-white rounded mb-8"> Make Order! </h4>
            </div>
         
            <div class="chat-container" id="chat-container">
                <!-- Messages will be dynamically added here -->
            </div>

            <div class="p-5 input-group">
                <input class="form-control shadow bg-white rounded" type="text" id="inputField" name="userInput" required>
                <button class="btn btn-outline secondary" id="button-addon2" onclick="processUserInput()">Send</button>
                <div id="response"></div>
            </div>
        </div>
        <hr>
        <div class="col pl-5">
            <div class="row">
                    <div class="col">
                        <div>
                            <h4 class="aler alert-danger shadow rounded p-5"> Hints! </h4>
                        </div>
                        <div id="list"></div>

                        <div>
                            <ol>
                                <li>Type "Sales Order" for further going</li>
                                <li>Put Your Name and Item code in the dialogue box</li>
                                <li>If return message with "Item Exists" then type "Yes"</li>
                                <li>Confirm your order</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-dark shadow rounded float-right" id="reloadButton"><span class="font-weight-bolder">+</span>  New Chat</button>
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}
{%- block script %}
{% if colocated_js -%}
    <script>{{ colocated_js }}</script>
    <script type="text/javascript" src="/assets/frappe/dist/js/libs.bundle.LLRFRX7M.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/desk.bundle.4F47RLS7.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/list.bundle.TK3IO6QP.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/form.bundle.MQLBQV6Z.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/controls.bundle.JZS3GTZE.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/report.bundle.SAEV7REK.js"></script>
	
	<script type="text/javascript" src="/assets/frappe/dist/js/telemetry.bundle.ZJBT5ETW.js"></script>
	
	<script type="text/javascript" src="/assets/erpnext/dist/js/erpnext.bundle.FZR4TWDO.js"></script>
{%- endif %}
{%- endblock %}